<div class="bg-white shadow rounded-lg overflow-hidden">
  <% if @flights.any? %>
    <div class="divide-y divide-gray-200">
      <%= render partial: 'flight_card', collection: @flights, as: :flight %>
    </div>
  <% else %>
    <div class="p-6 text-center text-gray-500">
      No flights found matching your criteria.
    </div>
  <% end %>
</div> 