<% if current_user&.pilot? %>
  <div class="flex justify-end mb-6">
    <%= link_to 'New Flight', new_flight_path, class: "px-4 py-2 bg-primary-600 text-white rounded-md hover:bg-primary-700" %>
  </div>
<% end %> 