@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .dropdown-menu {
    display: none;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.2s ease, transform 0.2s ease;
  }

  .dropdown-group:hover .dropdown-menu,
  .dropdown-group:focus-within .dropdown-menu {
    display: block;
    opacity: 1;
    transform: translateY(0);
  }

  .feature-icon-container {
    @apply text-blue-600 mb-4 h-32 flex items-center justify-center;
  }

  .feature-icon {
    transform: scale(3);
  }
}
